@font-face {
    font-family: 'Rawcun';
    src: url('space_fonts/Rawcun.ttf');
}

html,
body {
    height: 100%;
    margin: 0;
    background: #000;
    font-family: Rawcun, monospace;
    cursor: url("../PLANET_MERGE/img/cur/tile_0086.png"), auto;
    user-select: none;
}

canvas {
    display: block;
    margin: 0 auto;
    background: #050508;
    border: 2px solid #0f0;
}

#overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 18px;
    box-sizing: border-box;
    color: #0f0;
}

#hud {
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.082);
}

.big {
    font-size: 18px
}

.small {
    font-size: 14px;
    opacity: .9
}

#gameOver {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.85);
    border: 2px solid #0f0;
    padding: 24px;
    border-radius: 8px;
    text-align: center;
    color: #0f0;
}

button {
    background: #0f0;
    color: #001;
    border: 2px solid #080;
    padding: 8px 12px;
    margin-top: 12px;
    font-weight: bold;
    cursor: pointer;
    font-family: monospace;
}

button:hover {
    filter: brightness(1.05);
}

#menuOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: #00ffaa;
    transition: opacity 0.3s ease;
}

#menuOverlay.hidden {
    opacity: 0;
    pointer-events: none;
}

#menuOverlay h1 {
    font-size: 100px;
    margin-bottom: 30px;
    text-shadow: 0 0 10px #00f0ff;
}

#menuOverlay button {
    padding: 12px 28px;
    margin: 10px;
    font-size: 18px;
    border: 2px solid #00f0ff;
    border-radius: 6px;
    background: #000000;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 0 15px #00f0ff55;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: url("../PLANET_MERGE/img/cur/tile_0097.png"), auto;
}

#menuOverlay button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #00f0ffaa;
}